/************/
/**********************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Pagina */

a{

	text-decoration:none;

}

}

/* Cabecera*/
#header{

	height:200px;
	border:2px solid blue;
}

/*Cuerpo del index*/

#bodyNegocio{

	border:1px solid red;
	min-height:300px;
	background-color:black;
	color:white;
}


#login{

	width:200px;
	height:200px;
	border:2px solid red;
	margin:auto;
	margin-top:50px;
	color:white;
}


/***************************************/


.login{
	
	width:190px;
	height:30px;
	background-color:red;
	margin:5;
	color:white;
	text-align:center;
	padding-top:5px;
}
#login div:hover{
	background-color:black;
}
#SingIn  div:hover{
	background-color:black;
}

/**********************************/
/* Registrar Usuario */

#singIn{

	margin:215px;
	background-color:red;
	width:700px;
	margin-top:20px;
	margin-bottom:20px;

}

#singIn label{
	font-family: Blackoak Std;
	font-size: 20px;
	color: black;
}

/* Registrar Negocio */
#SignUpNegocio{

	margin:215px;
	background-color:red;
	width:700px;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:10px;

}
#SignUpNegocio label{
	font-family: Blackoak Std;
	font-size: 20px;
	color: black;
	
}
#SignUpClientes{
	margin:215px;
	background-color:red;
	width:700px;
	margin-top:20px;
	margin-bottom:20px;
}
#SignUpClientes label{

	font-family: Blackoak Std;
	font-size: 20px;
	color: black;
	
}
#SignUpEmpleados{
	margin:215px;
	background-color:red;
	width:700px;
	margin-top:20px;
	margin-bottom:20px;
}
#SignUpEmpleados label{
	font-family: Blackoak Std;
	font-size: 20px;
	color: black;
}
#SignUpServicios{
	margin:215px;
	background-color:red;
	width:700px;
	margin-top:20px;
	margin-bottom:20px;
}
#SignUpServicios label{
	font-family: Blackoak Std;
	font-size: 20px;
	color: black;
}
#SignUpFactura{
	margin:215px;
	background-color:red;
	width:700px;
	margin-top:20px;
	margin-bottom:20px;
}
#SignUpFactura label{
	font-family: Blackoak Std;
	font-size: 20px;
	color: black;
}
#mostrarCliente{
	margin:170px;
	background-color:red;
	width:780px;
	margin-top:20px;
	margin-bottom:20px;
	min-height:100px;
}
#mostrarCliente table{
	margin: auto;
	border: 2px solid black;
	width: 780px;
}
#mostrarCliente th{
	border: 2px solid black;
	width: 10px;
}
#mostrarFactura{
	margin:170px;
	background-color:red;
	width:780px;
	margin-top:20px;
	margin-bottom:20px;
	min-height:100px;
}
#mostrarFactura table{
	margin: auto;
	border: 2px solid black;
	width: 780px;
}
#mostrarFactura th{
	border: 2px solid black;
	width: 10px;
}
#negocio{
	margin:215px;
	background-color:red;
	width:700px;
	margin-top:20px;
	margin-bottom:20px;
}

#negocio  div:hover{
	background-color:blue;
}

#negocio a{
	text-decoration:none;
}

.botones{
	width:150px;
	height:30px;
	background-color:red;
	margin:5;
	color:white;
	text-align:center;
	padding-top:5px;
}

#buttons{
	float:left;
	min-height:300px;
}
#buttons a{

	text-decoration:none;

}

#buttons  div:hover{
	background-color:blue;
}
//**************  Style Mapa  ***************/

.mapaNO{

	height:250px;
	width:98%;
	background-color:white;

}